$input-width: 150px;
$input-height: 38px;
$select-width: 70px;
$item-height: 40px;
$list-height: $item-height * 6;

.qing-timepicker {
  position: relative;
  display: inline-block;

  .input {
    width: $input-width;
    height: $input-height;
    line-height: $input-height;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 0 6px;
    font-size: 16px;
    color: #4a4a4a;
    cursor: pointer;

    &.selected {
      padding-right: 30px;

      .placeholder {
        display: none;
      }

      ul.time-wrapper {
        display: flex;
        align-items: center;
      }
    }

    .placeholder {
      color: #dfdfdf;
    }

    ul.time-wrapper {
      display: none;
      list-style: none;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      height: 100%;

      li {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        line-height: normal;

        .value {
          display: block;
          padding: 3px;
        }

        .value.highlight {
          background-color: #DEEAFE;
        }
      }

      li.divider {
        margin: 0 3px;
        &:last-child {
          display: none;
        }
      }
    }
  }

  .clear-button {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    font-size: 18px;
    color: #bfbfbf;
    text-align: center;
    text-decoration: none;

    &.active {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      color: darken($color: #bfbfbf, $amount: 20%)
    }
  }

  .popover {
    display: none;
    padding: 0;
    border: 1px solid #dddddd;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
    border-radius: 2px;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: #4A4A4A;
    z-index: 999;

    &.active {
      display: flex;
      justify-content: space-between;
    }
  }

  .select-view {
    flex: 1;
    border-left: 1px solid #eeeeee;
    width: $select-width;
    overflow: hidden;

    &:hover {
      overflow-y: auto;
    }

    &:first-child {
      border-width: 0;
    }

    ul {
      list-style: none;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      max-height: $list-height;

      li {
        list-style: none;
        box-sizing: content-box;
        margin: 0;
        width: 100%;
        height: $item-height;
        line-height: $item-height;
        text-align: center;
        cursor: pointer;

        &:hover,
        &.selected {
          background: #F6F6F6;
        }

        &.selected {
          font-weight: bold;
        }

        &:last-child:after {
          content: '';
          height: $list-height - $item-height;
          display: block;
        }
      }
    }
  }
}
