$select-width: 60;
$item-height: 24;
$list-height: 24 * 6;

.qing-timepicker {
  position: relative;
  display: inline-block;

  .input .text-field {
    cursor: pointer;
  }

  .clear-button {
    display: none;
    position: absolute;
    right: 0;
    padding: 2px 5px;
    color: #bfbfbf;
    text-decoration: none;

    &.active {
      display: inline;
    }
  }

  .popover {
    display: none;
    padding: 0;
    border: 1px solid #dfdfdf;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;

    &.active {
      display: flex;
      justify-content: space-between;
    }
  }

  .select-view {
    flex: 1;
    border-left: 1px solid #dfdfdf;
    width: #{$select-width}px;
    overflow: hidden;

    &:hover {
      overflow-y: auto;
    }

    &:first-child {
      border-width: 0;
    }

    ul {
      list-style: none;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      max-height: #{$list-height}px;

      li {
        list-style: none;
        box-sizing: content-box;
        margin: 0;
        width: 100%;
        height: #{$item-height}px;
        line-height: #{$item-height}px;
        text-align: center;
        cursor: pointer;
        user-select: none;

        &:hover,
        &.selected {
          background: #dfdfdf;
        }

        &:last-child:after {
          content: '';
          height: #{$list-height - $item-height}px;
          display: block;
        }
      }
    }
  }
}
